* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 50);
    height: 100vh;
    padding-top: 5rem;
}

h1 {
    color: rgb(159, 175, 189);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

input {
    border-radius: 8px 0 0 8px;
}

button {
    border-radius: 0 8px 8px 0;
}